<h1 class="text-center">Create MangoPay user</h1>
<% unless @mp_errors.nil? %>
  <div class="alert alert-danger fixed-top" style="height: 100px;" role="alert">
    <ol>
    <% @mp_errors.errors.each do |error|  %>
      <ul><p><%= error[1] %></p></ul>
    <% end %>
    </ol>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end  %>
<div class="container mb-5">
  <%= simple_form_for(:mangopay_users, method: :post, url: mangopay_users_path) do |f| %>
    <%# , error: @mp_errors.errors['Email'] unless @mp_errors.nil?  %>
    <%= f.input :Email, as: :email, required: true, pattern: "[-a-zA-Z0-9._]+@[a-zA-Z0-9\-._ ]+\.[a-zA-Z0-9\-._ ]+" %>
    <%= f.input :FirstName %>
    <%= f.input :LastName %>
    <% if @mp_errors.present? %>
      <% data = @mp_errors.errors['Address.AddressLine1'] %>
    <% else %>
      <% data = "" %>
    <% end %>
    <%= f.input :AddressLine1, required: true %>
    <%= f.input :AddressLine2 %>
    <%= f.input :City %>
    <%= f.input :PostalCode %>
    <%= f.label :Country %>
    <%= f.country_select :Country, {selected: "FR"}, { class: 'form-control' } %>
    <%= f.label :Nationality %>
    <%= f.country_select :Nationality, {selected: "FR"}, { class: 'form-control' } %>
    <%= f.label :CountryOfResidence %>
    <%= f.country_select :CountryOfResidence, {selected: "FR"}, { class: 'form-control' } %>
    
    <%= f.submit class:"btn btn-primary mt-5" %>
  <% end  %>
</div>